CREATE DATABASE BT1_TKCSDL
USE [BT1_TKCSDL]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nvarchar](5) NOT NULL,
	[TOAN] [float] NULL,
	[LY] [float] NULL,
	[HOA] [float] NULL,
	[VAN] [float] NULL,
	[DTB] [float] NULL,
	[XEPLOAI] [nchar](10) NULL,
	[DTN] [float](10) null,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSHS]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSHS](
	[MAHS] [nvarchar](5) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[NU] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[MALOP] [nvarchar](4) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[XEPLOAI] [nvarchar](50) NULL,
	[dtbc] [float] null,
 CONSTRAINT [PK_DSHS] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](4) NOT NULL,
	[GVCN] [nvarchar](25) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00001', 3, 5, 1, 5, 3.67, N'DUP       ')
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00008', 10, 10, 5, 7, 8.17, NULL)
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00013', 7, 8, 5, 5.5, 6.33, NULL)
GO
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00001', N'Nguyen Van', N'Nam', 0, CAST(N'1974-04-06T00:00:00.000' AS DateTime), N'10A2', N'Chuy?n tru?ng t? ngàyNov  6 202', N'luu ban')
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00008', N'Tran Thanh', N'Phong', 0, CAST(N'1974-03-23T00:00:00.000' AS DateTime), N'10A1', NULL, NULL)
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00013', N'Nguyen Minh', N'Quang', 0, CAST(N'1975-07-12T00:00:00.000' AS DateTime), N'10A2', N'chuyển trường từ ngày Oct 26 202', NULL)
GO
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A1', N'Nguyễn Thanh Nhàn')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A2', N'Lê Văn Hiển')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A3', N'Nguyễn Thị Bé')
GO



Declare hs cursor for select MAHS from DSHS
Open hs
Declare @mahs nvarchar(5), @dtb float
Fetch next from hs into @mahs
	While (@@fetch_status = 0) -- con tro trong dong du lieu
		begin
			select @dtb=round((toan*2+ly*2+hoa+ly)/6,2) from diem where MAHS=@mahs
			update dshs set dtbc=@dtb where MAHS=@mahs
			Fetch next from hs into @mahs
			end
Close hs; Deallocate hs


-- Them cot DTN vao bang Diem, tim diem thap nhat trong 4 diem cua moi hoc sinh
Declare hs cursor for select MAHS from DSHS
Open hs
Declare @Mahs nvarchar(5), @dtn float, @toan float, @ly float, @van float, @hoa float
Fetch next from hs into @Mahs
	While (@@fetch_status = 0) -- con tro trong dong du lieu
		begin
			Select @toan = toan, @van = van, @hoa = hoa, @ly = ly from DIEM where MAHS=@Mahs
			set @dtn=@toan
			if @dtn>@van set @dtn=@van
			if @dtn>@hoa set @dtn=@hoa
			if @dtn>@ly set @dtn=@ly
			update diem set DTN = @dtn where MAHS = @Mahs
			Fetch next from hs into @Mahs
			end
Close hs; Deallocate hs

--
ALTER PROCEDURE DiemTrungBinh @mahs nvarchar(5), @dtb float output
AS
begin
	select @dtb=round((toan*2+van*2+ly+hoa)/6, 2) from diem where
	MAHS=@mahs
End
-- Gọi thủ tục:
declare @tb float
exec DiemTrungBinh '00019', @tb output
print @tb


-- Tao thu tuc DTN dau vao MAHS, dau ra DTN
ALTER PROCEDURE DiemTN @mahs nvarchar(5), @dtn float output
AS
begin
	Select @dtn = case
		when toan <= ly and toan <= van and toan <= hoa then toan
		when van <= ly and van <= toan and van <= hoa then van
		when hoa <= ly and hoa <= van and hoa <= ly then hoa
		when ly <= toan and ly <= van and ly <= hoa then ly
	end
	from DIEM where MAHS = @mahs
End

Declare @tn float
exec DiemTN '00001', @tn output
print @tn

