create database BT1_TKCSDL
USE [BT1_TKCSDL]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nvarchar](5) NOT NULL,
	[TOAN] [float] NULL,
	[LY] [float] NULL,
	[HOA] [float] NULL,
	[VAN] [float] NULL,
	[DTB] [float] NULL,
	[XEPLOAI] [nchar](10) NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSHS]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSHS](
	[MAHS] [nvarchar](5) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[NU] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[MALOP] [nvarchar](4) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[XEPLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DSHS] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 27/04/2021 3:22:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](4) NOT NULL,
	[GVCN] [nvarchar](25) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00001', 3, 5, 1, 5, 3.67, N'DUP       ')
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00008', 10, 10, 5, 7, 8.17, NULL)
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00013', 7, 8, 5, 5.5, 6.33, NULL)
GO
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00001', N'Nguyen Van', N'Nam', 0, CAST(N'1974-04-06T00:00:00.000' AS DateTime), N'10A2', N'Chuy?n tru?ng t? ngàyNov  6 202', N'luu ban')
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00008', N'Tran Thanh', N'Phong', 0, CAST(N'1974-03-23T00:00:00.000' AS DateTime), N'10A1', NULL, NULL)
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00013', N'Nguyen Minh', N'Quang', 0, CAST(N'1975-07-12T00:00:00.000' AS DateTime), N'10A2', N'chuyển trường từ ngày Oct 26 202', NULL)
GO
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A1', N'Nguyễn Thanh Nhàn')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A2', N'Lê Văn Hiển')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A3', N'Nguyễn Thị Bé')
GO


/*Tạo view DSHS10A1 gồm thông tin Mã học sinh, họ tên, giới tính (là “Nữ” nếu Nu=1,
ngược lại là “Nam”), các điểm Toán,  Lý, Hóa, Văn của các học sinh lớp 10A1*/
select * from DSHS

alter view DSHS10A1
as
select mahs,ho, ten,malop, iif(Nu=1,N'Nữ',N'Nam') 
as gioitinh
from DSHS
where malop='10A1'
select * from DSHS10A1

/*Tạo login TranThanhPhong, tạo user TranThanhPhong cho TranThanhPhong trên CSDL
QLHocSinh*/
create login TranThanhPhong
with password ='123'
create user TranThanhPhong for login TranThanhPhong
--Phân quyền Select trên view DSHS10A1 cho TranThanhPhong
grant select on dshs10a1 to tranthanhphong
--Đăng nhập TranThanhPhong để kiểm tra
select * from DSHS10A1

--Tạo login PhamVanNam, tạo PhamVanNam cho PhamVanNam trên CSDL QLHocSinh
create login PhamVanNam
with password='123'
create user PhamVanNam for login PhamVanNam

--Tạo view DSHS10A2 tương tự như câu 1
create view DSHS10A2
as
select mahs,ho, ten,malop, iif(Nu=1,N'Nữ',N'Nam') 
as gioitinh
from DSHS
where malop='10A2'
select * from DSHS10A2
--Phân quyền Select trên view DSHS10A2 cho PhamVanNam
grant select on dshs10a2 to phamvannam

--Đăng nhập PhamVanNam để kiểm tra
select * from DSHS10A2

/*
Tạo view báo cáo Kết thúc năm học gồm các thông tin: Mã học sinh, Họ và tên, Ngày sinh,
Giới tính, Điểm Toán, Lý, Hóa, Văn, Điểm Trung bình, Xếp loại, Sắp xếp theo xếp loại (chọn
1000 bản ghi đầu). Trong đó:
Điểm trung bình (DTB) = ((Toán + Văn)*2 + Lý + Hóa)/6)
Cách thức xếp loại như sau:
- Xét điểm thấp nhất (DTN) của các 4 môn
- Nếu DTB>5 và DTN>4 là “Lên Lớp”, ngược lại là lưu ban*/

alter table dshs
add dtn float

DECLARE cs CURSOR FOR SELECT MAHS FROM DSHS
OPEN cs
DECLARE @mahs nvarchar(5), @dtb float, @toan float, @ly float, @van float, @hoa
float, @dtn float
FETCH NEXT FROM cs into @mahs
WHILE @@FETCH_STATUS=0
BEGIN
declare @xl nchar(25)
select @toan=toan, @van=van, @hoa=hoa, @ly=ly,
@dtb=round((toan*2+van*2+ly+hoa)/6,2) from DIEM where MAHS=@mahs
set @dtn=@toan
if @dtn>@van set @dtn=@van
if @dtn>@hoa set @dtn=@hoa
if @dtn>@ly set @dtn=@ly
IF (@dtb>5 AND @dtn>4) SET @xl=N'Lên lớp'
ELSE SET @xl=N'Lưu ban'
Update dshs set XepLoai=@xl where MAHS=@mahs
update dshs set dtn=@dtn where MAHS=@mahs
FETCH NEXT FROM cs into @mahs
END
CLOSE cs
DEALLOCATE cs
select * from DSHS
Select * from Diem



create view KetThucNamHoc
as
select top 200 dshs.mahs,ho,ten,ngaysinh,iif(nu=1,N'Nữ',N'Nam') as gioitinh,
toan,ly,hoa,van,round(((toan+van)*2+ly+hoa)/6,2) as dtb,diem.dtn, dshs.XEPLOAI

from DSHS inner join DIEM on dshs.mahs=diem.mahs
order by dtb desc

select * from KetThucNamHoc

/*4. Tạo view danh sách HOC SINH XUAT SAC bao gồm các học sinh có DTB>=8.5 và
DTN>=8 với các trường: Lop, Mahs, Hoten, Namsinh (năm sinh), Nu, Toan, Ly, Hoa, Van,
DTN, DTB*/
create view HocSinhXuatSac
as
Select	DSHS.MALOP, DSHS.MAHS, HO, TEN, Year(NgaySinh) as NamSinh, NU,
		
		TOAN, LY, HOA, VAN, ROUND(((toan + van) * 2 + ly + hoa), 2) as DTB, Diem.DTN
from	DSHS join DIEM
on		DSHS.MAHS = DIEM.MAHS
where	DIEM.DTN >= 8 and ROUND(((toan + van) * 2 + ly + hoa), 2) >= 8.5

select * from HocSinhXuatSac

/*5. Tạo view danh sách HOC SINH DAT THU KHOA KY THI bao gồm các học sinh xuất
sắc có DTB lớn nhất với các trường: Lop, Mahs, Hoten, Namsinh, Nu, Toan, Ly, Hoa, Van,
DTB*/









