create database QL_KhachSan
USE QL_KhachSan
GO
/****** Object:  Table [dbo].[tChiTietKH]    Script Date: 31-Oct-19 3:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietKH](
	[MaDK] [nvarchar](3) NULL,
	[LoaiKH] [nvarchar](1) NULL,
	[TenKH] [nvarchar](25) NULL,
	[NgaySinh] [datetime] NULL,
	[Phai] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](7) NULL
) 
GO
/****** Object:  Table [dbo].[tDangKy]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDangKy](
	[MaDK] [nvarchar](3) NOT NULL,
	[SoPhong] [nvarchar](50) NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[NgayVao] [datetime] NULL,
	[NgayRa] [datetime] NULL,
 CONSTRAINT [PK_tDangKy] PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)
) 
GO
/****** Object:  Table [dbo].[tDoanhThu]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDoanhThu](
	[MaDK] [nvarchar](3) NOT NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[SoNgayO] [int] NULL,
	[ThucThu] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)
) 
GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[LoaiKH] [nvarchar](1) NULL,
	[DienGiai] [nvarchar](50) NULL
) 
GO
/****** Object:  Table [dbo].[tLoaiPhong]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiPhong](
	[LoaiPhong] [nvarchar](1) NULL,
	[GiaiThich] [nvarchar](50) NULL,
	[DonGia] [int] NULL
) 
GO
/****** Object:  Table [dbo].[tPhong]    Script Date: 31-Oct-19 3:03:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhong](
	[SoPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](2) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_tPhong] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)
) 
GO
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'001', N'1', N'Trần Hồng Hà', CAST(N'1980-12-12T00:00:00.000' AS DateTime), 0, N'34A Trần phú', NULL)
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'002', N'1', N'Nguyễn Thế Anh', CAST(N'1968-03-22T00:00:00.000' AS DateTime), 0, N'123 Trần Hưng Đạo', NULL)
INSERT [dbo].[tChiTietKH] ([MaDK], [LoaiKH], [TenKH], [NgaySinh], [Phai], [DiaChi], [DienThoai]) VALUES (N'003', N'1', N'Lê Gia Linh', CAST(N'1981-04-12T00:00:00.000' AS DateTime), 1, N'564 Nguyễn Trãi', N'8445563')
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'001', N'201', N'A', CAST(N'1998-04-26T00:00:00.000' AS DateTime), CAST(N'1998-04-28T00:00:00.000' AS DateTime))
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'002', N'202', N'B', CAST(N'1998-04-30T00:00:00.000' AS DateTime), CAST(N'1998-05-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) VALUES (N'003', N'101', N'A', CAST(N'1998-05-01T00:00:00.000' AS DateTime), CAST(N'1998-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'012', N'A', 2, 400000)
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'013', N'A', 2, -400000)
INSERT [dbo].[tDoanhThu] ([MaDK], [LoaiPhong], [SoNgayO], [ThucThu]) VALUES (N'014', N'A', 1, 200000)
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'1', N'Khách vãng lai')
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'2', N'Khách hàng thân thiết')
INSERT [dbo].[tKhachHang] ([LoaiKH], [DienGiai]) VALUES (N'3', N'Khách có thẻ của công ty Bảo hiểm')
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'A', N'Máy Lạnh, Nước nóng, Ti Vi,Tủ lạnh, Đ.Thoại', 200000)
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'B', N'Máy Lạnh, Nươc Nóng, Điện Thoại', 150000)
INSERT [dbo].[tLoaiPhong] ([LoaiPhong], [GiaiThich], [DonGia]) VALUES (N'C', N'Điện Thoại', 100000)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'101', N'A', NULL)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'102', N'A', NULL)
INSERT [dbo].[tPhong] ([SoPhong], [LoaiPhong], [GhiChu]) VALUES (N'103', N'C', NULL)


-- Thêm trường DonGia vào bảng tDangKy, tạo trigger cập nhật tự động cho trường này.
Alter table tDangKy
add DonGia money

Create or alter trigger dgphong on tDangKy
for insert as
begin
	Declare @MaDK nvarchar(10), @dongia int
	Select	@MaDK = MaDK, @dongia = tLoaiPhong.DonGia
	from inserted join tLoaiPhong ON inserted.LoaiPhong = tLoaiPhong.LoaiPhong
	UPDATE tDangKy set DonGia = @dongia where MaDK = @MaDK
end


insert into [tDangKy] ([MaDK], [SoPhong], [LoaiPhong], [NgayVao], [NgayRa]) 
VALUES (N'022', N'901', N'A', '2022-10-12', '2022-12-12')

Select * from tDangKy


-- Thêm trường tổng tiêu dùng (TongTieuDung) và bảng khách hàng và tính tự động tổng 
-- tiền khách hàng đã trả cho khách sạn mỗi khi thêm, sửa, xóa bản tDangKy
Alter table tKhachHang
add TongTieuDungKH money

Create or alter trigger tieudung on tDangKy
for insert, update, delete as
begin
	Declare @dongia int, @songay int, @MaDK nvarchar(10), @LoaiKH nvarchar(10)
	Select	@MaDK = tDoanhThu.MaDK, @dongia = DonGia, @songay = SoNgayO 
	from inserted join tDoanhThu on inserted.MaDK = tDoanhThu.MaDK
				join tLoaiPhong on inserted.LoaiPhong = tLoaiPhong.LoaiPhong
	update	tKhachHang set TongTieuDungKH = ISNULL(TongTieuDungKH, 0) + (@dongia * @songay) 
			where LoaiKH = @LoaiKH
end
