create database QLKhachSan
USE [QLKhachSan]
GO
/****** Object:  Table [dbo].[CHITIETPHONGDAT]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHONGDAT](
	[MaBooking] [nvarchar](10) NOT NULL,
	[SLPhong] [int] NOT NULL,
	[MaLP] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBooking] ASC,
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTT]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTT](
	[MaHDTT] [nvarchar](10) NOT NULL,
	[MaBooking] [nvarchar](10) NOT NULL,
	[NgayTT] [datetime] NULL,
	[NgayLapHD] [datetime] NULL,
	[PhuongthucTT] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[Ghichu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[Dienthoai] [nvarchar](10) NOT NULL,
	[CCCD] [nvarchar](12) NULL,
	[Gioitinh] [bit] NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLP] [nvarchar](10) NOT NULL,
	[Kieuphong] [nvarchar](50) NULL,
	[Dientich] [float] NOT NULL,
	[Dongiaphong] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[SoCCCD] [nvarchar](12) NULL,
	[SDT] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[Gioitinh] [bit] NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MaBooking] [nvarchar](10) NOT NULL,
	[Tiendatcoc] [money] NULL,
	[NgayDenDukien] [date] NULL,
	[NgayDiDuKien] [date] NULL,
	[Phuongthucdatcoc] [nvarchar](10) NULL,
	[MaKH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MaPT] [nvarchar](10) NOT NULL,
	[MaBooking] [nvarchar](10) NOT NULL,
	[ThoigianlapPT] [datetime] NULL,
	[Thoigiancheckout] [datetime] NULL,
	[Thoigiancheckin] [datetime] NULL,
	[KMPhong] [float] NULL,
	[Maphong] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 09-Dec-22 9:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[Maphong] [nvarchar](10) NOT NULL,
	[MaLP] [nvarchar](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[SoNgayThue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHONGDAT] ([MaBooking], [SLPhong], [MaLP]) VALUES (N'PD0001', 3, N'Deluxe01')
INSERT [dbo].[CHITIETPHONGDAT] ([MaBooking], [SLPhong], [MaLP]) VALUES (N'PD0001', 2, N'Deluxe02')
INSERT [dbo].[CHITIETPHONGDAT] ([MaBooking], [SLPhong], [MaLP]) VALUES (N'PD0001', 2, N'Standard01')
GO
INSERT [dbo].[HOADONTT] ([MaHDTT], [MaBooking], [NgayTT], [NgayLapHD], [PhuongthucTT], [MaNV], [Ghichu]) VALUES (N'HDTT0001', N'PD0001', CAST(N'2022-12-12T00:00:00.000' AS DateTime), CAST(N'2022-01-09T00:00:00.000' AS DateTime), N'Cash', N'NV001', NULL)
INSERT [dbo].[HOADONTT] ([MaHDTT], [MaBooking], [NgayTT], [NgayLapHD], [PhuongthucTT], [MaNV], [Ghichu]) VALUES (N'HDTT0002', N'PD0002', CAST(N'2022-01-21T00:00:00.000' AS DateTime), CAST(N'2022-01-19T00:00:00.000' AS DateTime), N'Cash', N'NV002', NULL)
INSERT [dbo].[HOADONTT] ([MaHDTT], [MaBooking], [NgayTT], [NgayLapHD], [PhuongthucTT], [MaNV], [Ghichu]) VALUES (N'HDTT0003', N'PD0003', CAST(N'2022-01-23T00:00:00.000' AS DateTime), CAST(N'2022-01-21T00:00:00.000' AS DateTime), N'Cash', N'NV003', NULL)
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Diachi], [Dienthoai], [CCCD], [Gioitinh], [NgaySinh]) VALUES (N'KH0001', N'Nguyễn Bình An', N'Việt Nam', N'0987654321', N'030099182831', 1, NULL)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Diachi], [Dienthoai], [CCCD], [Gioitinh], [NgaySinh]) VALUES (N'KH0002', N'Nguyễn Đức An', N'Việt Nam', N'0987654123', N'030099182112', 1, NULL)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Diachi], [Dienthoai], [CCCD], [Gioitinh], [NgaySinh]) VALUES (N'KH0003', N'Đoàn Thị Mai Anh', N'Việt Nam', N'0987657732', N'030099182718', 0, NULL)
GO
INSERT [dbo].[LOAIPHONG] ([MaLP], [Kieuphong], [Dientich], [Dongiaphong]) VALUES (N'Deluxe01', N'Deluxe Single', 40.1, 7000000.0000)
INSERT [dbo].[LOAIPHONG] ([MaLP], [Kieuphong], [Dientich], [Dongiaphong]) VALUES (N'Deluxe02', N'Deluxe Twin', 40.1, 8000000.0000)
INSERT [dbo].[LOAIPHONG] ([MaLP], [Kieuphong], [Dientich], [Dongiaphong]) VALUES (N'Standard01', N'Standard Single', 20.1, 2000000.0000)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCCCD], [SDT], [NgaySinh], [Gioitinh], [ChucVu]) VALUES (N'NV001', N'Nguyễn Thùy Linh', N'030202012456', N'0321542142', NULL, 0, NULL)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCCCD], [SDT], [NgaySinh], [Gioitinh], [ChucVu]) VALUES (N'NV002', N'Trần Đức Nam', N'030202065432', N'0321542132', NULL, 1, NULL)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SoCCCD], [SDT], [NgaySinh], [Gioitinh], [ChucVu]) VALUES (N'NV003', N'Đào Huy Hoàng', N'030202032156', N'0321542361', NULL, 1, NULL)
GO
INSERT [dbo].[PHIEUDAT] ([MaBooking], [Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [Phuongthucdatcoc], [MaKH]) VALUES (N'PD0001', 6000000.0000, CAST(N'2022-01-09' AS Date), CAST(N'2022-01-12' AS Date), N'Online', N'KH0001')
INSERT [dbo].[PHIEUDAT] ([MaBooking], [Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [Phuongthucdatcoc], [MaKH]) VALUES (N'PD0002', 4000000.0000, CAST(N'2022-01-09' AS Date), CAST(N'2022-01-21' AS Date), N'Online', N'KH0002')
INSERT [dbo].[PHIEUDAT] ([MaBooking], [Tiendatcoc], [NgayDenDukien], [NgayDiDuKien], [Phuongthucdatcoc], [MaKH]) VALUES (N'PD0003', 4000000.0000, CAST(N'2022-01-21' AS Date), CAST(N'2022-01-23' AS Date), N'Online', N'KH0003')
GO
INSERT [dbo].[PHIEUTHUE] ([MaPT], [MaBooking], [ThoigianlapPT], [Thoigiancheckout], [Thoigiancheckin], [KMPhong], [Maphong]) VALUES (N'PT0001', N'PD0001', CAST(N'2022-01-09T00:00:00.000' AS DateTime), CAST(N'2022-01-09T00:00:00.000' AS DateTime), CAST(N'2022-01-12T00:00:00.000' AS DateTime), 0.1, N'P301')
INSERT [dbo].[PHIEUTHUE] ([MaPT], [MaBooking], [ThoigianlapPT], [Thoigiancheckout], [Thoigiancheckin], [KMPhong], [Maphong]) VALUES (N'PT0002', N'PD0002', CAST(N'2022-01-19T00:00:00.000' AS DateTime), CAST(N'2022-01-21T00:00:00.000' AS DateTime), CAST(N'2022-01-19T00:00:00.000' AS DateTime), 0.1, N'P102')
INSERT [dbo].[PHIEUTHUE] ([MaPT], [MaBooking], [ThoigianlapPT], [Thoigiancheckout], [Thoigiancheckin], [KMPhong], [Maphong]) VALUES (N'PT0003', N'PD0003', CAST(N'2022-01-21T00:00:00.000' AS DateTime), CAST(N'2022-01-23T00:00:00.000' AS DateTime), CAST(N'2022-01-21T00:00:00.000' AS DateTime), 0, N'P301')
GO
INSERT [dbo].[PHONG] ([Maphong], [MaLP], [TinhTrang], [SoNgayThue]) VALUES (N'P101', N'Standard01', N'VCC', NULL)
INSERT [dbo].[PHONG] ([Maphong], [MaLP], [TinhTrang], [SoNgayThue]) VALUES (N'P102', N'Standard01', N'VCC', NULL)
INSERT [dbo].[PHONG] ([Maphong], [MaLP], [TinhTrang], [SoNgayThue]) VALUES (N'P103', N'Standard02', N'OCC', NULL)
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHONGDAT_LOAIPHONG] FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT] CHECK CONSTRAINT [FK_CHITIETPHONGDAT_LOAIPHONG]
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHONGDAT_PHIEUDAT] FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[CHITIETPHONGDAT] CHECK CONSTRAINT [FK_CHITIETPHONGDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[HOADONTT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTT_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADONTT] CHECK CONSTRAINT [FK_HOADONTT_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONTT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTT_PHIEUDAT] FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[HOADONTT] CHECK CONSTRAINT [FK_HOADONTT_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT] FOREIGN KEY([MaBooking])
REFERENCES [dbo].[PHIEUDAT] ([MaBooking])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHONG] FOREIGN KEY([Maphong])
REFERENCES [dbo].[PHONG] ([Maphong])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO

-- cau2: Tạo thủ tục có đầu vào là mã nhân viên, năm, đầu ra là số hoá đơn của nhân viên đó 
-- xử lý trong năm đó
create proc hoadon @Manv nvarchar(10), @nam int, @slhd int out
as
begin
	Select	@slhd = COUNT(MaHDTT)
	from	HOADONTT
	where	@Manv = MaNV and YEAR(NgayTT) = @nam
end

Declare	@sl int
Exec	hoadon N'NV001', 2020, @sl out
print	@sl

-- cau3: Tạo hàm có đầu vào là mã booking, đầu ra là danh sách các thông tin chi tiết phòng đặt
-- dự kiến đến trong ngày đó (Mã booking, Ngayđendukien, Ngaydidukien, Kieu phong, SL phong)
Create or alter function ctphong (@mabk nvarchar(10)) 
returns table
as return
	Select	CHITIETPHONGDAT.MaBooking, NgayDenDukien, NgayDiDuKien, Kieuphong, SLPhong
	from	PHIEUDAT, LOAIPHONG, CHITIETPHONGDAT
	where	PHIEUDAT.MaBooking = CHITIETPHONGDAT.MaBooking and CHITIETPHONGDAT.MaLP = LOAIPHONG.MaLP
			and @mabk = CHITIETPHONGDAT.MaBooking

Select * from ctphong(N'PD0002')

--cau4: Thêm trường SLLoaiPhong vào bảng LoaiPhong. Tạo trigger cập nhật tự động cho trường này
-- mỗi khi thêm sửa xoá 1 bản ghi Phòng
Alter table LoaiPhong
add SoLuongLP int

Create trigger udphong on Phong
for insert, update, delete as
begin
	Declare @MaLPIn int, @MaLPDe int
	Select	@MaLPIn = MaLP from inserted
	Select	@MaLPDe = MaLP from deleted
	Update	LOAIPHONG set SoLuongLP = ISNULL(SoLuongLP, 0) + 1 where @MaLPIn = MaLP
	Update	LOAIPHONG set SoLuongLP = ISNULL(SoLuongLP, 0) - 1 where @MaLPDe = MaLP
end

Select * from LOAIPHONG

--cau5: Tạo view gồm các thông tin Mã NV, TenNV, MaHDTT, NgayTT, MaBooking, Ngaydendukien,
--NgayDiDuKien, Tiendatcoc, MaLP, SLPhong có ngày đến dự kiến từ 12-12-2022 đến 19-12-2022
Create view thongtin as
Select	NHANVIEN.MaNV, TenNV, HOADONTT.MaHDTT, NgayTT, NgayDenDukien, NgayDiDuKien, 
		Tiendatcoc, MaLP, SLPhong
from	NHANVIEN, HOADONTT, PHIEUDAT, CHITIETPHONGDAT
where	NHANVIEN.MaNV = HOADONTT.MaNV and HOADONTT.MaBooking = PHIEUDAT.MaBooking
		and PHIEUDAT.MaBooking = CHITIETPHONGDAT.MaBooking 
		and NgayDenDukien >= '2022-12-12' and NgayDenDukien <= '2022-12-19'

-- cau6
Create login NguyenQuocDung 
with password = '123'

Create user NguyenQuocDung for login NguyenQuocDung

Grant Select, update, insert on KhachHang to NguyenQuocDung with grant option 

-- cau7: Tạo view đưa ra danh sách khách hàng có số ngày đặt phòng Deluxe nằm trong top3
-- số ngày đặt phòng Deluxe lớn nhất tại khách sạn, 
-- số ngày đặt = Ngaydidukien - Ngaydendukien nếu 2 ngày đó khác nhau, là 1 nếu cùng ngày
Select	top 3 with ties KHACHHANG.MaKH, TenKH, Kieuphong, 
		SUM(IIF(DATEDIFF(DAY, NgayDenDukien, NgayDiDuKien) = 0, 1, DATEDIFF(DAY, NgayDenDukien, NgayDiDuKien))) as 'So ngay dat phong'
from	KHACHHANG, PHIEUDAT, CHITIETPHONGDAT, LOAIPHONG
where	KHACHHANG.MaKH = PHIEUDAT.MaKH and PHIEUDAT.MaBooking = CHITIETPHONGDAT.MaBooking
		and CHITIETPHONGDAT.MaLP = LOAIPHONG.MaLP and Kieuphong like '%deluxe%'
group by KHACHHANG.MaKH, TenKH, Kieuphong
order by 3 desc







